@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<svelte-app id="Sumukhi" name="AONE"></svelte-app>
<svelte-app id="Suruchi" name="ATWO"></svelte-app>

<div style="width: 300px">
    <svg-clock></svg-clock>
</div>